
p {
	color:white;
	font-size: 30px;
}
p#egg{
	color:yellow;
	font-size: 30px;
}
p.lookshrek{
	color:green;
	font-size: 30px;
}

p {
	text-align:center;
}
a {
	color: blue;
	font-size: 30px;
	background-color: green;
}